@model IEnumerable<StudentAccounting.Models.Student>

@{
    ViewData["Title"] = "Enrollments";
}

<h2>Enrollments</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                    <a asp-action="Create" asp-route-id="@item.StudentID">Add</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a> |
                    <a asp-action="Pay" asp-route-id="@item.StudentID">Pay</a>
                </td>
            </tr>
        }
    </tbody>
</table>